{#  Load the tag library #}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#  Load the tag library #}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>registo</title>
</head>
<body>
<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
{% block content %}
    <div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <div class="page-header">
            <h2>Perfil</h2>
        </div>
        <form method="post" enctype="multipart/form-data" action="{% url 'images:perfilActualizar' %}" >
            {% csrf_token %}
            {%  bootstrap_form form %}
            {% buttons %}
                <input type="submit" value="Actualizar" class="btn btn-primary"/>
                <a href="{% url 'images:index' %}" class="btn btn-primary" >Cancelar</a>
            {% endbuttons %}
        </form>
    </div>


    </div>

{%  endblock %}
</div>
</body>
</html>