{#  Load the tag library #}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#  Load the tag library #}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>registo</title>
</head>
<body>

{% block content %}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
            <div>
                <div><h4>Usuario</h4>{{user.username }}</div>
                <div><h4>Nombres</h4>{{user.first_name}}</div>
                <div><h4>Apellidos</h4>{{ user.last_name }}</div>
                <div><h4>Correo electronico</h4>{{ user.email }}</div>
                <div><h4>Direccion</h4>{{ user.direccion  }}</div>
                <div><h4>Ciudad</h4>{{ user.ciudad }}</div>
                <div><h4>Pais</h4>{{ user.pais }}</div>

                {% buttons %}
                    <a href="{% url 'images:perfilActualizar' %}" class="btn btn-primary" >Editar datos personales</a>
                    <a href="{% url 'images:cambiar_contrasenia' %}" class="btn btn-primary" >Cambiar Contraseña</a>
                    <a href="{% url 'images:index' %}" class="btn btn-primary" >Atras</a>
                {% endbuttons %}
            </div>

        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="/{{ user.foto }}" width="150px" height="150px" style="...">
        </div>
    </div>
{%  endblock %}
</body>
</html>