{#  Load the tag library #}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{#  Load the tag library #}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>registo</title>
</head>
<body>
<div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
    {% block content %}
        {% csrf_token %}

        <div>
            <div><h4>Username</h4>{{user.username }}</div>
            <div><h4>First name</h4>{{user.first_name}}</div>
            <div><h4>Last name</h4>{{ user.last_name }}</div>
            <div><h4>Email</h4>{{ user.email }}</div>

            {% buttons %}
                <a href="{% url 'images:perfilActualizar' %}" class="btn btn-primary" >Editar datos personales</a>
                <a href="{% url 'images:cambiar_contrasenia' %}" class="btn btn-primary" >Cambiar Contraseña</a>
                <a href="{% url 'images:index' %}" class="btn btn-primary" >Atras</a>
            {% endbuttons %}
        </div>
    {%  endblock %}
</div>
</body>
</html>